---
import Layout from "../layout.astro";
---

<Layout title="404 :(" seo={{ description: "page not found", keywords: [] }}>
  <div class="flex justify-center items-center gap-4">
    <h1 class="text-4xl font-semibold">404</h1>
    <span class="bg-muted-foreground w-px h-12"></span>
    <span class="text-lg">
      page not found <span class="text-warn font-bold">:(</span>
    </span>
  </div>
</Layout>
