---
import Layout from "../layout.astro";

interface Props {
  error: unknown;
}

const { error } = Astro.props;
---

<Layout title="smth went wrong">
  <div class="flex items-center justify-center">
    <div>
      <h1 class="text-2xl">Something went wrong...</h1>
      <p class="text-destructive">
        {
          error instanceof Error
            ? error.message
            : "I don't know what happened, but I will fix it as soon as possible."
        }
      </p>
    </div>
  </div>
</Layout>
