---
import Layout from "../layout.astro";
---

<Layout title="my projects">
  <h1 class="text-2xl">My Projects</h1>
  <p class="text-muted-foreground text-sm text-center mt-6">
    Hm. Why this page is empty? I do rember that I did some projects. 🥲
  </p>
</Layout>
