---
import Layout from "../layout.astro";
import { Comment, db, desc, eq } from "astro:db";
import { cn } from "../utils/cn";
import FormattedDate from "../components/FormattedDate.astro";

const comments = await db
  .select()
  .from(Comment)
  .where(eq(Comment.published, true))
  .orderBy(desc(Comment.createdAt))
  .all();
---

<Layout title="say smth">
  <h1 class="text-2xl">Comments</h1>
  <section class="mt-6 grid gap-5">
    {
      comments.map(({ author, content, highlight, response, createdAt }) => (
        <div
          class={cn(
            "rounded-md border overflow-hidden",
            highlight &&
              "border-accent bg-gradient-to-r from-accent/20 to-transparent via-transparent",
          )}
        >
          <div class="p-4">
            <h3 class="text-lg font-semibold">
              {author}{" "}
              <span class="text-muted-foreground text-xs">
                on <FormattedDate date={createdAt} />
              </span>
            </h3>
            <p class="text-muted-foreground mt-1">{content}</p>
          </div>
          {response && (
            <p
              class={cn(
                "bg-muted/80 px-4 py-2 border-t text-sm flex justify-end",
                highlight && "border-accent",
              )}
            >
              {response}
            </p>
          )}
        </div>
      ))
    }
  </section>
</Layout>
