---
const now = new Date();
---

<footer class="pt-2 bg-neutral-100 border-t pb-24">
  <div class="container mx-auto max-w-6xl flex justify-between items-center">
    <small>&copy; {now.getFullYear()} Matviy Ivanov</small>
  </div>
</footer>
