---
import { SITE_TITLE } from "../consts";
import { cn } from "../utils/cn";

const pages = await Astro.glob("../pages/*.astro");
const pageLinks = pages.map((page) => page.url).filter(Boolean);

const currentPathname = new URL(Astro.request.url).pathname;
---

<header class="py-2 bg-neutral-100 border-b">
  <div
    class="container mx-auto max-w-6xl flex justify-between gap-6 items-center"
  >
    <h1 class="text-3xl font-bold">
      <a href="/">{SITE_TITLE}</a>
    </h1>
    <nav class="flex gap-3 items-center">
      {
        pageLinks.map((url, idx, self) => (
          <>
            <a
              class={cn("hover:underline", {
                "text-orange-500 font-semobold": currentPathname.includes(
                  url ?? "^#$5",
                ),
              })}
              href={url}
            >
              {url}
            </a>
            {idx !== self.length - 1 && <span class="text-neutral-500">•</span>}
          </>
        ))
      }
    </nav>
  </div>
</header>
