---
import { LINKS_ORDER, SITE_TITLE } from "../consts";
import { cn } from "../utils/cn";

const pages = await Astro.glob("../pages/*.astro");
const pageLinks = pages
  .map((page) => page.url)
  .filter(Boolean)
  // @ts-expect-error this is fine
  .toSorted((a, b) => LINKS_ORDER[a] - LINKS_ORDER[b]);

const currentPathname = new URL(Astro.request.url).pathname;
---

<header
  class="py-2 bg-muted/20 backdrop-blur border-b fixed inset-x-0 top-0 z-50 shadow-2xl shadow-background"
>
  <div
    class="container mx-auto max-w-6xl flex flex-col md:flex-row justify-between gap-4 items-center"
  >
    <h1 class="text-3xl font-bold">
      <a href="/">{SITE_TITLE}</a>
    </h1>
    <nav class="flex gap-2 md:gap-3 items-center">
      {
        pageLinks.map((url, idx, self) => (
          <>
            <a
              class={cn("hover:underline text-nowrap text-sm md:text-base", {
                "text-accent font-semobold": currentPathname.includes(
                  url ?? "^#$5",
                ),
              })}
              href={url}
            >
              {url}
            </a>
            {idx !== self.length - 1 && (
              <span class="text-muted-foreground text-xs">{"<>"}</span>
            )}
          </>
        ))
      }
    </nav>
  </div>
</header>
