---
import "./style.css";

import Header from "./components/header.astro";
import Footer from "./components/footer.astro";
import { NAME } from "./consts";
import { cn } from "./utils/cn";
import Posthog from "./components/posthog.astro";

interface Props {
  title: string;
  noHeader?: boolean;
  noFooter?: boolean;
}

const { title, noHeader = false, noFooter = false } = Astro.props;
---

<!-- <script is:inline>
  const setTheme = () => {
    const root = document.documentElement;
    const theme = (() => {
      const stored = localStorage.getItem("theme");
      if (stored) {
        return stored;
      }

      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        localStorage.setItem("theme", "dark");
        return "dark";
      }

      localStorage.setItem("theme", "light");
      return "light";
    })();

    if (theme === "dark") {
      root.classList.add("dark");
      return;
    }

    root.classList.remove("dark");
  };

  document.addEventListener("astro:after-swap", setTheme);

  setTheme();
</script> -->
<html lang="en" class="dark">
  <head>
    <Posthog />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${NAME} | ${title}`}</title>
  </head>
  <body class="h-dvh w-dvw flex flex-col gap-16 overflow-x-hidden">
    {!noHeader && <Header />}
    <main
      class={cn(
        "flex-1 container mx-auto max-w-5xl mt-32",
        noHeader ? "mt-6" : "mt-32 md:mt-24",
        noFooter && "pb-8",
      )}
    >
      <slot />
    </main>
    {!noFooter && <Footer />}
  </body>
</html>
