---
import Layout from "./layout.astro";
import type {
  ProjectFrontmatter,
  WorkFrontmatter,
} from "./types/md-frontmatter";
import GoBack from "./components/go-back.astro";

const pathname = new URL(Astro.request.url).pathname;
const mdFiles = await Astro.glob<WorkFrontmatter | ProjectFrontmatter>(
  "../**/*.md",
);

const currentMdFile =
  mdFiles.find((file) => file.url?.includes(pathname)) ?? null;
---

<Layout title={currentMdFile?.frontmatter.title ?? "work history"}>
  <GoBack />

  {
    !!currentMdFile?.frontmatter.tags.length && (
      <div class="flex flex-wrap w-full gap-2 my-3">
        {currentMdFile?.frontmatter.tags.map((tag: string) => (
          <span class="text-sm bg-muted border px-2 rounded-md">{tag}</span>
        ))}
      </div>
    )
  }

  <div
    class="prose dark:prose-invert prose-a:decoration-accent max-w-full w-full"
  >
    <slot />
  </div>
</Layout>
