---
import Layout from "./layout.astro";

const pathname = new URL(Astro.request.url).pathname;
---

<Layout title="Test">
  <a>{"< go back"}</a>
  <div class="prose max-w-full w-full">
    <slot />
  </div>
</Layout>
